.history {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  margin: 5px 20px;
  padding: 15px;
  background-color: #fff;
  border-radius: 10px;
}

.content_box {
  padding-left: 10px;
  display: inline-block;
}

.nickname {
  display: block;
  margin: 5px 0px;
  font-family: 'InfinitySans-RegularA1';
  font-size: 14px;
  color: #656565;
}

.content {
  display: block;
  margin: 5px 0px;
  font-family: 'InfinitySans-RegularA1';
}

.time {
  font-size: 12px;
  color: #6b8eb3;
  font-weight: 600;
}

.button_icon {
  border: none;
  background: #3C91E6;
  border-radius: 13px;
  width: 40px;
  height: 20px;
  font-weight: 600;
  padding:0;
  margin:0;
  font-size: 10px;
  color: #fff;
  cursor: pointer;
  font-family: 'Pretender Variable';
  font-weight: 500;
}
