.button_main {
  border: none;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 80px;
  background: #6b8eb3;
  border-radius: 15px;
  padding: 7px;
  width: 300px;
  height: 40px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
}