.button_main {
  border: none;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 80px;
  background: #6b8eb3;
  border-radius: 15px;
  padding: 7px;
  width: 300px;
  height: 40px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  position: absolute;
  top: 113%;
  left: 83.5%;
  transform: translate(-50%, -50%);
}


.chat_main {
  border: none;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  position: fixed;
  top: 90%;
  left: 90%;
  transform: translate(-50%, -50%);
}

.cal {
  border: none;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  position: fixed;
  top: 88%;
  left: 97%;
  transform: translate(-50%, -50%);
}

.chat_title {
  position: relative;
  top: 5%;
  left: 46%;
  transform: translate(-50%, -50%);

}