.myAsset-title {
  display: flex;
  flex-flow: column;
  justify-content: left;
}

/* 폰트 */
.fs-myAsset-title {
  font-size: 32px;
  letter-spacing: -2.5px;
  line-height: 0.9375;
  margin-bottom: 10px;
}

.fs-normal {
  font-size: 16px;
  letter-spacing: -1.5px;
  line-height: 1.25;
}

.fs-emphasis {
  font-size: 18px;
  letter-spacing: -2px;
  line-height: 1.5;
}

.fw-light {
  font-weight: 300;
}

/* 폰트 컬러 색상 */
.fc-green {
  color: #5adb5a;
}

.fc-red {
  color: #ff5b5b;
}

.fc-grey {
  color: #9a9a9a;
}

.fc-purple {
  color: #5d5fef;
}

.fc-blue {
  color: #604fdc;
}

.fc-dark-grey {
  color: #333333;
}

.infobutton5:hover + .info5 {
  opacity: 1;
  display: block;
  z-index: 999;
}

.info5 {
  padding: 15px 20px;
  background-color: #f7f7f7;
  background-color: #d7e7f9;
  border: 1px solid rgba(196, 196, 196, 0.736);
  border-radius: 5px;
  color: black;
  position: absolute;
  display: none;
  opacity: 0;
  box-shadow: 7px 7px 5px 1px rgba(121, 121, 121, 0.514);
}
