.notification-container {
  box-sizing: border-box;
  position: fixed;
  top: 30;
  right: 0;
  z-index: 999999;
  width: 520px;
  padding: 0px 15px;
  max-height: calc(100% - 30px);
  overflow-x: hidden;
  overflow-y: auto;
}
.notification {
  box-sizing: border-box;
  padding: 15px 15px 15px 58px;
  border-radius: 2px;
  color: #fff;
  background-color: #ccc;
  box-shadow: 0 0 12px #999;
  cursor: pointer;
  font-size: 1em;
  line-height: 1.2em;
  position: relative;
  opacity: 0.9;
  margin-top: 15px;
}
.notification .title {
  font-size: 1em;
  line-height: 1.2em;
  font-weight: bold;
  margin: 0 0 5px 0;
}
.notification:hover,
.notification:focus {
  opacity: 1;
}
.notification-enter {
  visibility: hidden;
  transform: translate3d(100%, 0, 0);
}

.notification-enter.notification-enter-active {
  visibility: visible;
  transform: translate3d(0, 0, 0);
  transition: all 0.4s;
}

.notification-exit {
  visibility: visible;
  transform: translate3d(0, 0, 0);
}

.notification-exit.notification-exit-active {
  visibility: hidden;
  transform: translate3d(100%, 0, 0);
  transition: all 0.4s;
}
.notification:before {
  position: absolute;
  top: 50%;
  left: 8px;
  margin-top: -14px;
  display: block;
  font-family: "Notification";

  width: 40px;
  height: 28px;
  font-size: 28px;
  text-align: center;
  line-height: 28px;
}
/*영국 GBP */
.notification-info {
  background-color: #2f96b4;
}

.notification-info:before {
  background-position: center;
  content: "";
  height:25px;
  background-image: url(../../../public/images/GBP.png);
  background-size: cover;
}
/*유럽 EUR */
.notification-success {
  background-color: #5260b4;
}

.notification-success:before {
  content: "";
  background-image: url(../../../public/images/EUR.png);
  background-size: contain;
}
/*일본 JPY */
.notification-warning {
  background-color: #d34e5b;
}

.notification-warning:before {
  content: "";
  background-image: url(../../../public/images/JPY.png);
  background-size: cover;
}
/*미국 USD */
.notification-error {
  background-color: darkred;
 
}

.notification-error:before {
  content: "";
  background-image: url(../../../public/images/USD.png);
  background-size: cover;
}
