.newscontainer {
  text-align: center;
  max-width: 700px;
  margin: 0 auto;
}

.newscontainer li {
  list-style: none;
  border: 1px solid #828282;
}

.pagination li {
  display: inline-block;
  background: #bdbec2;
  overflow: hidden;
}

.pagination li a {
  text-decoration: none;
  width: 10px;
  height: 10px;
  padding: 10px;
}

#searchlist {
  font-family: 'MICEGothic Bold';
}

#searchdate {
  font-size: 28px;
  margin-bottom: 10px;
}
