.newscontainer {
  text-align: center;
  max-width: 700px;
  margin: 0 auto;
}

.newscontainer li {
  list-style: none;
  border: 1px solid #828282;
}

#searchlist {
  font-family: 'MICEGothic Bold';
}

#searchdate {
  font-size: 28px;
  /* margin-bottom: 10px; */
}

#searchdate2 {
  font-size: 36px;
  color: #0062c4;
  /* margin-bottom: 10px; */
}

#detailboard {
  background: white;
  padding: 3%;
  margin-bottom: 5px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 10px 0 #d9d9d9;
  width: 1000px;
}

.past_title {
  font-size: 35px;
  /* margin-left: 100px; */
  text-align: center;
  color: #333;
}

.past_title-smaller {
  font-size: 32px;
}

.past_title-smaller2 {
  font-size: 32px;
  color: #0062c4;
}

.font_zz {
  color: #0062c4;
}

