.button {
  border: none;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 134px;
  background: #3C91E6;
  border-radius: 15px;
  padding: 7px;
  width: 120px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
}

.comment {
  border: none;
  margin-left: 20px;
  background: #fff;
  border-radius: 15px;
  padding: 10px;
  
  /* padding-left: 15px; */
  width: 340px;
  height: 30px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
}