#calc {
  padding: 3%;
  font-family: 'MICEGothic Bold';
}

.calcdetail {
  margin-bottom: 5px;
  
}


.infobutton7:hover + .info7 {
  opacity: 1;
  display: block;
  z-index: 999;
}

.info7 {
  padding: 15px 20px;
  background-color: #f7f7f7;
  background-color: #d7e7f9;
  border: 1px solid rgba(196, 196, 196, 0.736);
  border-radius: 5px;
  color: black;
  position: absolute;
  display: none;
  opacity: 0;
  box-shadow: 7px 7px 5px 1px rgba(121, 121, 121, 0.514);
}