.pagination {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

ul {
  list-style: none;
  padding: 0;
}

ul.pagination li {
  display: inline-block;
  /* width: 80px; */
  /* height: 30px; */
  border: 1px solid rgb(103, 103, 103);
  display: flex;
  justify-content: center;
  align-items: center;
  /* font-size: 2rem; */
  background-color: white;
}

ul.pagination li:first-child {
  border-radius: 5px 0 0 5px;
}

ul.pagination li:last-child {
  border-radius: 0 5px 5px 0;
}

ul.pagination li a {
  text-decoration: none;
  color: black;
  font-size: 1rem;
  text-align: center;
  margin-bottom: 10px;
}

ul.pagination li.active a {
  color: white;
  font-size: 1rem;
}

ul.pagination li.active {
  background-color: #77787A;
}

ul.pagination li a:hover,
ul.pagination li a.active {
  color: white;
}

/* .page-selection {
  width: 48px;
  height: 30px;
  color: #2c2e2f;
} */