.card {
    background-color: white;
    border-radius: 15px;
    padding-left: 20px;
    padding-right: 20px;
    height:160px;
    margin-top: 15px;
    box-shadow: 0 0 10px 0 #d9d9d9;
}

#div:hover{color: #ff2255;}

.jb-default-2 { 
    font-size: 50px;
    text-align: center;
    margin: 30px;
}

.jb-default-3 { 
    font-size: 50px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 0;
}

.jb-smaller {
    font-size: 30px;
}

.fc-grey {
    color: #373737;
}

.search-keyword{
    color: #0062c4;
    font-size: 55px;
}

.search-title{
    display: flex;
    align-items: center;
    color: #003870;
    font-size: 26px !important;
}

.search-press{
    display: flex;
    align-items: center;
    font-size: 15px;
    color: #1a63ac;
}

.search-result{
    margin: 50px !important;

}

.search-content{
    color: rgb(73, 73, 73) !important;
}