.timeLineWrap{
  position: absolute;
  top: 60%;
  left: 90%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 500px;
  overflow-y: scroll;
  border: 1px solid #bbbbbb;
  border-radius: 30px;
  padding-top: 20px;
  background-color: #edf1f5;
}
.timeLineWrap::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}