.calendar_datepicker {
  /* background: white; */
  /* padding-left: 2%; */
  /* padding-bottom: 3%; */
  /* margin-bottom: 5px; */
  height: 24px;
  align-items: center;
  padding-left: 7px;
  /* border-radius: 2px; */
  /* border: none; */
  /* box-shadow: 0 0 10px 0 #d9d9d9; */
}

.nation {
  background: white;
  /* padding-left: 2%; */
  /* padding-bottom: 3%; */
  /* border-radius: 20px; */
}



button.MuiToggleButton-root.Mui-selected {
  background-color: rgb(40, 126, 212) !important;
  color: #ffffff;
  border-color: #47474746 !important;
  box-shadow: inset 2px 2px 5px 2px rgba(99, 99, 99, 0.377)
}

button.MuiToggleButton-root{
  border-color: #47474746 !important;
  color:rgb(90, 90, 90);
}

.infobutton:hover + .info1 {
  opacity: 1;
  display:block;
  z-index: 1;
}

.info1 {
  padding: 15px 20px;
        background-color: #f7f7f7;
        background-color: #d7e7f9;
        border: 1px solid rgba(196, 196, 196, 0.736);
        border-radius: 5px;
        color: black;
        position: absolute;
        display:block;
        opacity: 0;
        box-shadow: 7px 7px 5px 1px rgba(121, 121, 121, 0.514);
        
}